<a href="https://colab.research.google.com/github/MoraliShah/-doudna/blob/main/Python%20task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
data1 = pd.read_csv("/content/src_anx.csv")

In [26]:
data1

,SITE_ID,GENDER_CODE,AGE_GROUP,SITE_POSTCODE,CALENDAR_MONTH,CALENDAR_YEAR,ANX_flag
0,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,3,4020,6,2021,2
1,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,12,2015,3
2,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,11,2016,2
3,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,1,2018,1
4,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,2,4,4020,11,2019,1
...,...,...,...,...,...,...,...
21521,fff8286e8c951e26c20c693589f944b2dbeb7147,2,5,2093,7,2021,2
21522,fff8286e8c951e26c20c693589f944b2dbeb7147,2,5,2093,6,2021,2
21523,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,9,2021,3
21524,fff8286e8c951e26c20c693589f944b2dbeb7147,2,5,2093,1,2021,1
21525,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,3,2021,2

In [11]:
data2 = pd.read_csv("/content/src_dep.csv")

In [27]:
data2

,SITE_ID,GENDER_CODE,AGE_GROUP,SITE_POSTCODE,CALENDAR_MONTH,CALENDAR_YEAR,DEP_flag
0,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,5,2021,1
1,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,5,4020,6,2020,1
2,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,2,5,4020,11,2020,1
3,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,5,4020,9,2020,1
4,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,5,4020,7,2021,4
...,...,...,...,...,...,...,...
8777,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,7,2021,2
8778,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,2,2021,1
8779,fff8286e8c951e26c20c693589f944b2dbeb7147,2,5,2093,3,2021,2
8780,fff8286e8c951e26c20c693589f944b2dbeb7147,2,5,2093,6,2021,1
8781,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,9,2021,2

In [13]:
data_template = pd.read_csv("/content/SP5-SP2-MHD-Data-template.csv")

In [ ]:
data_template

In [15]:
data1.head(5)

,SITE_ID,GENDER_CODE,AGE_GROUP,SITE_POSTCODE,CALENDAR_MONTH,CALENDAR_YEAR,ANX_flag
0,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,3,4020,6,2021,2
1,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,12,2015,3
2,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,11,2016,2
3,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,1,2018,1
4,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,2,4,4020,11,2019,1

In [16]:
data2.head(5)

,SITE_ID,GENDER_CODE,AGE_GROUP,SITE_POSTCODE,CALENDAR_MONTH,CALENDAR_YEAR,DEP_flag
0,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,4,4020,5,2021,1
1,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,5,4020,6,2020,1
2,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,2,5,4020,11,2020,1
3,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,5,4020,9,2020,1
4,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,5,4020,7,2021,4

In [22]:
a = data1.ANX_flag
a

0        2
1        3
2        2
3        1
4        1
        ..
21521    2
21522    2
21523    3
21524    1
21525    2
Name: ANX_flag, Length: 21526, dtype: int64

In [23]:
b = data2.DEP_flag
b

0       1
1       1
2       1
3       1
4       4
       ..
8777    2
8778    1
8779    2
8780    1
8781    2
Name: DEP_flag, Length: 8782, dtype: int64

In [28]:
c = pd.DataFrame(a,b)
c

          ANX_flag
DEP_flag
1                3
1                3
1                3
1                3
4                1
...            ...
2                2
1                3
2                2
1                3
2                2

[8782 rows x 1 columns]

In [38]:
n = pd.merge(data1,data2, how = 'inner')

n

,SITE_ID,GENDER_CODE,AGE_GROUP,SITE_POSTCODE,CALENDAR_MONTH,CALENDAR_YEAR,ANX_flag,DEP_flag
0,0036703ea7e959b9d8d3bd68ae0aadf602ec6c7e,1,5,4020,6,2020,1,1
1,003a821c741d82a6a948a871d8fb7b5093f64346,1,3,3500,11,2020,5,1
2,003a821c741d82a6a948a871d8fb7b5093f64346,2,3,3500,10,2020,13,2
3,003a821c741d82a6a948a871d8fb7b5093f64346,2,3,3500,11,2020,6,1
4,003a821c741d82a6a948a871d8fb7b5093f64346,1,3,3500,10,2020,9,2
...,...,...,...,...,...,...,...,...
5558,fff8286e8c951e26c20c693589f944b2dbeb7147,2,5,2093,3,2021,3,2
5559,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,7,2021,3,2
5560,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,2,2021,2,1
5561,fff8286e8c951e26c20c693589f944b2dbeb7147,2,5,2093,6,2021,2,1
5562,fff8286e8c951e26c20c693589f944b2dbeb7147,1,5,2093,9,2021,3,2

In [39]:
from google.colab import files
n.to_csv('example_file.csv')
files.download('example_file.csv')